body {
  counter-reset: step;
}
#bootstrap-theme h1, #bootstrap-theme h2, #bootstrap-theme h3, #bootstrap-theme h4, #bootstrap-theme h5, #bootstrap-theme h6, #bootstrap-theme .h1, #bootstrap-theme .h2, #bootstrap-theme .h3, #bootstrap-theme .h4, #bootstrap-theme .h5, #bootstrap-theme .h6, #crm-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
  --lightgray: #ececec;
  --midgray: #c4c1c1;
  --darkgray: #606c76;
  --info: #7dc2e1;
  --alert: #9c0606;
  --lightgreen: #dff0d8;
  --darkgreen: #7ac45d;
  --lightgold: #fcf8e3;
  --darkgold: #f7dc5a;
  --lightblue: #d9edf7;
  --darkblue: #3ea7db;
}
#bootstrap-theme summary {
  display: list-item;
  text-transform: inherit;
  font-weight: inherit;
}
#bootstrap-theme .panel {
  padding: 0;
}
#bootstrap-theme summary:focus {
  text-decoration: none;
}
#bootstrap-theme .table {
  margin-bottom: 0;
}
.required:after {
  content: "•";
  color: var(--alert);
  top: -0.75rem;
  position: relative;
  font-weight: bold;
}
.font2 {
  font-size: 2rem;
}
.margin0bottom {
  margin-bottom: 0.25rem;
}
.margin0top {
  margin-top: 0 !important;
}
.margin2top {
  margin-top: 2rem;
}
.padding0top {
  padding-top: 0;
}
.green {
  color: var(--darkgreen);
}
.gold {
  color: var(--darkgold);
}
.blue {
  color: var(--darkblue);
}
.red {
  color: var(--alert);
}
#agreeement-viewer ol {
  margin-left: 1rem;
}
#bootstrap-theme .badge {
  padding: 3px 10px 5px 10px;
}
#bootstrap-theme .badge-default {
  background-color: var(--gold);
}
#bootstrap-theme .badge-primary {
  background-color: var(--blue);
}
#bootstrap-theme .badge-success {
  background-color: var(--green);
}

/* Steps */

.js-step-number::after{
  counter-increment:step;
  content:counter(step);
  font-weight: bold;
}
#sortlist table {
  border-color: transparent;
  margin: 0;
}
.panel-heading {
  margin: 0;
  font-size: 1rem
}
.panel.panel-default {
  padding: 0;
}
#bootstrap-theme #sortlist .panel-heading {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#bootstrap-theme #sortlist .panel-default,
#bootstrap-theme .blue-border {
  border: 3px solid var(--lightblue);
  border-radius: 8px;
}
#bootstrap-theme #sortlist .panel-default:focus,
#bootstrap-theme #sortlist .panel-default:hover {
  border-color: var(--darkblue);
}

/* View */

.step-list {
    counter-reset:steps;
}
.step-list > h4 {
    counter-increment: steps;
}
.step-list > h4::before{
    content: "Step "counter(steps) ": ";
}
.rsl {
    position: relative;
}
.rsl-logotype {
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.7;
}
.rsl-logotype:hover,
.rsl-logotype:focus {
    opacity: 1;
}

/* Report */

.report-step table {
  margin: 0;
}
#bootstrap-theme .report-step .panel-heading {
  background-color: inherit;
  padding: 0;
}
#bootstrap-theme .report-step .panel-body {
  padding: 0;
}
#bootstrap-theme .report-step h4 {
  padding: 12px 1rem 1rem;
  margin: 0;
}
#bootstrap-theme .report-step .progress {
    margin: 0;
    border-radius: 3px 3px 0 0;
    box-shadow: none;
    border: 0 solid transparent;
    height: 5px;
}
#bootstrap-theme .report-step .progress.high {
    border-radius: 4px;
    height: 20px;
}
#bootstrap-theme .progress-bar {
  box-shadow: none;
}
#bootstrap-theme .bg-complete h4 {
  background-color: var(--lightgreen);
}
#bootstrap-theme .bg-complete .progress {
  background-color: var(--lightgreen);
}
#bootstrap-theme .bg-complete .progress-bar {
  background-color: var(--darkgreen);
}
#bootstrap-theme .bg-complete i {
  color: var(--darkgreen);
}
#bootstrap-theme .bg-partial h4 {
  background-color: var(--lightgold);
}
#bootstrap-theme .bg-partial .progress {
  background-color: var(--lightgold);
}
#bootstrap-theme .bg-partial .progress-bar {
  background-color: var(--darkgold);
  color: black;
}
#bootstrap-theme .bg-partial i {
  color: var(--darkgold);
}
#bootstrap-theme .bg-waiting h4 {
  background-color: var(--lightgray);
}
#bootstrap-theme .bg-waiting .progress {
  background-color: var(--lightgray);
}
#bootstrap-theme .bg-waiting i {
  color: var(--darkgray);
}

/* Sort list */

ul#sortlist {
  margin:1rem 0;
  padding:0;
}
ul#sortlist li {
  margin:0 0 1rem;
  padding:0;
  list-style: none;
  transition: 0.2s padding;
  position: relative;
}
ul#sortlist li.is-drop-target-before {
  padding-top: 4rem;
}
ul#sortlist li.is-drop-target-before::before {
  content: 'Move here';
  background: rgba(50, 255, 0, 0.2);
  text-align: center;
  padding: 0.5rem;
  position: absolute;
  width: 100%;
  top: 0;
}
ul#sortlist li.is-drop-target-after {
  padding-bottom: 3rem;
}
ul#sortlist li.is-drop-target-after::before {
  top: calc(100% - 4rem);
  content: 'Move here';
  background: rgba(50, 255, 0, 0.2);
  text-align: center;
  padding: 0.5rem;
  position: absolute;
  width: 100%;
}
/* functional classes */
.align-right {
  text-align: right;
}
/* Buttons whose content is just an icon. Hopefully the button's title makes this accessible. */
button.icon-button {
  border:none;
  background: transparent;
  line-height: 1;
  padding: 0;
  height: 1.4em;
}
button.inline {
  display: inline-block;
}
/* spacing for button groups */
button + button {
  margin-left: 0.8rem !important;
}
